
*{
	padding: 0;
	margin: 5;
	box-sizing: border-box;

}
div {
	width: 70%;
	margin: auto;
	box-shadow: 0 0 10px  1px rgba(0, 0, 0, 9.2);
	padding: 50px;

}


img {
max-width: 1200px ;
height: auto;
width: 100%;
display: block;
margin: auto;
}

p {
	font-size: 26px;
	font-family: serif;
	line-height: 24px;

}
р1 {

	padding-bottom: 40px;
	text-align: center;
}